nav.db-index
	button.switch
		i.icon-3bar
			svg.bar-1
				rect(
					width="2"
					height="18"
					x="3"
					y="0")
			svg.bar-2
				rect(
					width="2"
					height="18"
					x="8"
					y="0")
			svg.bar-3
				rect(
					width="2"
					height="18"
					x="13"
					y="0")
		span.label 索引
